<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="read.css">
    <title>read</title>
</head>
<body>
    <h1>read</h1>
    <header>
        <nav>
            <a href="/">home</a>
            <b><span>read</span></b>
            <a href="/create">Create</a>
            <a href="/update">Update</a>
            <a href="/delete">Delete</a>
        </nav>
    </header>
    <main>
        <button>get student</button>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>age</th>
                        <th>id</th>
                        <th>grades</th>
                    </tr>
                </thead>
                <tbody id="res"></tbody>
            </table>
        </div>
    </main>

    <script src="read.js"></script>
</body>
</html>
