<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <title>create</title>
</head>
<body>
    <h1>create</h1>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/read">Read</a>
            <b><span>Create</span></b>
            <a href="/update">Update</a>
            <a href="/delete">Delete</a>
        </nav>
    </header>
    <main>
        <form id="f">
            <label for="name">name</label>
            <input type="text" placeholder="student name" name="name" required>
            <label for="name">id</label>
            <input type="text" placeholder="id number" name="id">
            <label for="age">age</label>
            <input type="number" placeholder="age" name="age">
            <label for="name">grades</label>
            <input type="number" placeholder="grades" name="grades">
            <button id="btn" type="submit">submit</button>
        </form>
    </main>

    <script src="create.js"></script>
</body>
</html>