<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="update.css">
    <title>update</title>
</head>
<body>
    <h1>update</h1>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/read">Read</a>
            <a href="/create">Create</a>
            <b><span>update</span></b>
            <a href="/delete">Delete</a>
        </nav>
    </header>
    <main>
        <form id="f">
            <label for="name">name</label>
            <input type="text" placeholder="name for update" name="name">
            <label for="name">id</label>
            <input type="text" placeholder="id number" name="id">
            <label for="age">age</label>
            <input type="number" placeholder="age" name="age">
            <label for="name">grades</label>
            <input type="number" placeholder="grades" name="grades">
            <button id="btn" type="submit">update</button>
        </form>
    </main>

    <script src="update.js"></script>
</body>
</html>